
@font-face {
    font-family: 'KG Primary Dots';
    src: url('./KGPrimaryDots.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Learning Curve Dashed';
    src: url('./LearningCurveDashed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}
.fieldset {
    border: 1px solid transparent;
}
#edit {
    margin-bottom: 20px;
}
#edit textarea {
    width: 65vw;
    resize: vertical;
    min-height: 60px;
}

#font {
    width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#printarea {
    width: 100%;
    max-width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}
#printarea__header {
    display: none;
}
#printarea__header p {
    font-size: 18px;
}
#printarea p {
    position: relative;
    margin: 0;
    width: 100%;
}
#printarea p.large img {
    margin-top: 35px;
}
#printarea p.small img {
    margin-top: 8px;
}
#printarea img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.instructions {
    padding-inline-start: 20px;
}
.instructions > li {
    line-height: 1.5;
    margin-bottom: 5px;
}
#sorrynotresponsive {
    display: none;
}
@media (max-width: 550px) {
    #sorrynotresponsive {
        display: block;
    }
}
@media print {
    .container * {
        visibility: hidden;
        margin: 0;
        padding: 0;
        background-color: initial;
    }
    #printarea,
    #printarea * {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        float: left;
    }
    #printarea__header {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
    }
    #printarea__header p:first-child {
        position: absolute;
        left: 0;
        top: 0;
    }
    #printarea__header p:last-child {
        position: absolute;
        left: 400px;
        top: 0;
    }
    #printarea p.small {
        top: 40px;
    }
}