
@font-face {
    font-family: 'KG Primary Dots';
    src: url('./KGPrimaryDots.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Learning Curve Dashed';
    src: url('./LearningCurveDashed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}
.fieldset {
    border: 1px solid transparent;
}
#edit {
    margin-bottom: 20px;
}
#edit textarea {
    width: 65vw;
    resize: vertical;
    min-height: 60px;
}

#font {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;

    label {
        display: inline-block;
        margin: 0.2rem;
    }

    @media (min-width: 769px) {
        flex-direction: row;
    }
}

#printarea {
    width: 100%;
    max-width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}
#printarea__header {
    display: none;
}
#printarea__header p {
    font-size: 18px;
}
.editable {
    position: relative;
    margin: 0;
    width: 100%;

    &.primary {
        font-family: 'KG Primary Dots';
    }
    &.cursive {
        font-family: 'Learning Curve Dashed';
    }
    &.large {
        font-size: 152px;
        line-height: 1;

        img {
            height: 152px;
        }
    }
    &.small {
        font-size: 40px;
        line-height: 0.95;

        img {
            height: 40px;
        }
    }
    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
    &.center {
        text-align: center;
    }

}
.editableAreaImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
@media print {
    #printarea,
    #printarea * {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        float: left;
        background: white;
    }
    #printarea__header {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
    }
    #printarea__header #editable:first-child {
        position: absolute;
        left: 0;
        top: 0;
    }
    #printarea__header #editable:last-child {
        position: absolute;
        left: 400px;
        top: 0;
    }
    #printarea p {
        visibility: visible;
    }
    #printarea p.small {
        top: 40px;
    }
}